body { margin: 0; padding: 0; background: #000; }
canvas { display: block; image-rendering: pixelated; }
.font-pixel { font-family: 'Press Start 2P', cursive; }
#chat::-webkit-scrollbar { width: 4px; }
#chat::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.2); border-radius: 10px; }